<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device‑width, initial‑scale=1.0" />
  <title>Магазин — Товар</title>
  <link rel="stylesheet" href="/styles/item.css">
  <link rel="stylesheet" href="/styles/index.css">

</head>
<body>

    <%- include('blocks/header', status) -%>

  <main class="main">
                  <% if(product[0].id_product != undefined){ %>
                    <section class="product-detail">
                      <div class="container">
                        <div class="product-card big">
                          <img src="<%= product[0].img %>" alt="Товар" />
                          <div class="product-info">
                            <h2><%= product[0].name %></h2>
                            
                            <p class="price"><%= product[0].prise %> ₽</p>
                            
                            <div class="actions">
                    <form id="add_item" action="/item/<%= product[0].id_product %>" method="post">
                        <input type="text" name="id_product" hidden value="<%= product[0].id_product %>">
                        <button class="btn btn-solid">Добавить в корзину</button>
                    </form>
                              <button class="btn fav-btn">В избранное</button>
                            </div>
                          </div>
                        </div>
                        <div class="about_info">
                          <p>Компания: <%= product.Company_creater.company_name %></p>
                            <p>Страна производитель: <%= product.Company_creater.country.country %></p>
                            <img class="country_img" src="<%= product.Company_creater.country.img %>" alt="">
                          <div>
                              <p> <%= product[0].Coment %></p>
                          </div>
                        </div>
                        </div>
                      
<% for(let i = 0; i < product.Product_Rating.length; i++) { %>
    <div class="coment">
      <div>
        <p>👤 Пользователь: <%= product.Product_Rating[i].user.name %></p>   
<div>
        <div class="stars">
          <p><%for(let j = 0; j<product.Product_Rating[i].stars; j++){ %>⭐<% } %> </p>
        </div>
        <p>💬 Комментарий: <%= product.Product_Rating[i].coment %></p>
</div>
      </div>
      
      </div>
<% } %>

                    </section>
                    <% } else { %>
                      <p>Ошибка, товар не найден</p>
                      <% } %>
  </main>

    <%- include('blocks/footer') -%>

</body>
</html>